#leftWrap{
	margin: 20px 0px;
}
#category{
	margin-bottom:15px; 
	background-color: #fff;
	width: 164px;
	text-align: center;
}

#leftWrap #searchLabel{
	font-size:20px;
}

#leftWrap .filterLabel , #category{
	font-size:18px;
}

#leftWrap .filterLabel{
	color: #fff;
	background-color: #000;
	padding: 1px 8px;
	margin-bottom: 5px;
	border-radius: 6px;
}

.timeLabel{
	font-size:14px;
	color:#6F6E6E;
}

#leftWrap input{
	border: 1px solid #B8B8B8;
	font-size:18px;
	padding: 0 5px;
	/*text-transform: lowercase;*/
}

#author, #viewCount{
	width: 90%;
}

.fromPosition{
		margin-top: 5px;
	margin-bottom:6px; 	
}
.position{
	margin-top: 5px;
	margin-bottom:15px; 
}

#from, #to{
	width: 72%;
}

#toLabel{
	padding: 8.5px;
}

.submitBtn {
	text-align: center;
}

.submitBtn button{
	background-color: #AA5038;
	color: #fff;
	border: 0;
	padding: 5px 20px;
	font-size: 18px;
}