#uploadForm{
	/*text-align: center;*/
}
.main-wrapper{
	width: 40%;
	max-width: 1200px;
}
.videoUploadWrapper {
	margin: 10px 10px 30px 10px;
	text-align: center;
}
.videoUploadWrapper p{
	font-size:20px;
}

#uploadVideoProgress{
	font-size: 20px;
}
/*#uploadVideoArea{
	transition: all 0.5s ease;
	margin: 0 auto;
	border: 3px solid #AAA838;
	width: 400px;
	height: 200px; 	
}*/
.uploadVideoBorder{
	transition: all 0.5s ease;
	margin: 0 auto;
	border: 3px solid #AAA838;
	width: 400px;
	height: 200px; 
}

#uploadVideoArea.dragIn{
	border:3px solid red;
	transition: all 0.5s ease;
}

#uploadVideoArea img{
	width:60%;
	padding: 6px;
}

.formDisplayCSS{
	font-size: 18px;
	padding: 4px;
	border: 1px solid #B8B8B8;
	margin-bottom:2em;
}
#uploadForm input{
	width: 50%;
}

.videoAuthorLeft{
	float: left;
	width:50%;

}

.videoIdRight{
	float:right;
	width:50%;
}

.id_author_inline{
	width:30%;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	padding-top: 2px;	
}

#author,  #videoIdShow{
	width: 50% !Important;
	background-color: rgba(173, 175, 178, 0.3);
}

#category{
	background-color: #fff;
}

.belowInfo{
	width: 15%;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	padding-top: 2px;
}

#uploadForm button{
	background-color: #AA5038;
	color: #fff;
	border: 0;
	padding: 5px 10px;
	font-size: 18px;
}

.submitBtn{
	text-align: center;
}

#uploadInfo-control{
	background-color: #fff; 
	border-radius: 3px;
	padding: 2em;
}