#leftVideo {
	width: 70%;
	float: left;
}

#rightRelated {
	width: 29%;
	float: right;
}

#relatedBar{
	background-color: #fff;
	border-radius: 3px;
	padding: 1em;
	height: auto;
}

.relatedLoader img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#relatedBar ul li{
	list-style: none;
}

.relatedItem{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.relatedItem a{
	font-size: 14px;
	color:#000;
	text-decoration: none;
}

.relatedItem a:hover{
	color:#AA5038;
}

.relatedPic{
	float: left;
	width: 40%;
}

.relatedContent{
	float:right;
	width:60%;
}
.relatedPic img{
	width: 95%;
}

.relatedTitle{
	font-weight:700;
}

.relatedAuthor{
	font-size:10px;
	color: #9E9B9B;
}

.relatedViewcount{
	font-size: 10px;
	color: #9E9B9B;
}

.infocard{
	margin: 15px 0;
	background-color: #fff;
	box-shadow: 0 0 3px #ddd,0 0 0 3px transparent;
	border-radius: 3px;
	padding: 2em;
}

#video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#video iframe {
	position: absolute;
	top:	0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

#video video {
	width: 100%;
}

#videoInfo .title{
	font-size: 30px;
	margin-bottom:20px;
}

#videoInfo .author{
	font-size:18px;
	color:#555;
}

#videoInfo .published{
	font-size: 18px;
	color:#555;
	display: inline-block;
}

#videoInfo .viewcount{
	font-size:20px;
	margin-top: 8px;
	float: right;
}

#videoContent p{
	margin: 0px;
}

#videoContent .category{
	font-size: 18px;
}

#videoInfo .control {
	margin-top: 8px;
}

#videoInfo .control .video-button{
	display: inline-block;
	color: #fff;
	background-color: #AA5038;
	padding: 4px 6px;
	opacity: 0.6;
	transition: opacity 0.3s;
	cursor: pointer;
}

#videoInfo .control .video-button:hover {
	opacity: 1;
}

#videoInfo .control .video-button-yes{
	display: inline-block;
	color: #fff;
	background-color: #0B7435;
	padding: 4px 6px;
	/*opacity: 0.6;*/
	transition: opacity 0.3s;
	cursor: pointer;
}